<ng-container *ngIf="templates$ | async as templates">

  <div fxLayout="row">

    <div>
      <h3 class="title">Manage templates</h3>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center">
    <div>
      <mat-form-field>
        <mat-select [(value)]="selectedTemplate" placeholder="Select template">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let template of templates" [value]="template">{{template.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxFlexOffset="30px">
      <div *ngIf="selectedTemplate">
        <button mat-button color="accent">Delete</button>
      </div>
      <div>
        <button mat-button color="accent">New</button>
      </div>
    </div>
  </div>
  <div>
    <app-backdrop [show]="!selectedTemplate" [showSpinner]="false" opacity="0.7" blur="1px"></app-backdrop>
      <div fxLayout="row" fxLayoutAlign="start top" fxLayoutGap="96px" class="editors">
      <app-template-form [template]="selectedTemplate"></app-template-form>
      <app-template-zones [zones]="selectedTemplate?.zones"></app-template-zones>
    </div>
  </div>

</ng-container>


<ng-container *ngIf="templateError$ | async as templateError">
  <div *ngIf="templateError.hasError">
    <H3>{{templateError.error}}</H3>
  </div>
</ng-container>
<button mat-button color="accent" (click)="loadTemplates()">Reload</button>