<ng-container *ngIf="templates$ | async as templates">
  <div fxLayout="row">
    <div fxFlex="50px">
      <h3 class="title">Manage templates</h3>
    </div>
    <mat-form-field>
      <mat-select [(value)]="selectedTemplate" placeholder="Select template">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let template of templates" [value]="template">{{template.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <app-template-form [template]="selectedTemplate"></app-template-form>
</ng-container>