<app-nav-bar [themes]="themes" (themeChange)="themeChange($event)" [isAuthenticated]="isAuthenticated$ | async" (login)="onLogin()"
  (logout)="onLogout()">
</app-nav-bar>
<div class="container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav opened mode="side" disableClose="true" class="sidenav mat-elevation-z6" tabindex="-1">
      <app-side-nav [routerConfig]="router.config"></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>