<div>
  <p>Hello home view !</p>
  <!-- <mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>title</mat-expansion-panel-header>
      <mat-expansion-panel>
        <mat-expansion-panel-header>title 1.1</mat-expansion-panel-header>
        <mat-expansion-panel>
          <mat-expansion-panel-header>title 1.2</mat-expansion-panel-header>
          <div>content 1.2</div>
        </mat-expansion-panel>
        content 1.1
      </mat-expansion-panel>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>title 2</mat-expansion-panel-header>
      content 2
    </mat-expansion-panel>
  </mat-accordion> -->
</div>